<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GitGud - Your Tech Support Hero</title>
    <link rel="stylesheet" href="static/styles.css">
</head>
<body>
    <header>
        <div class="container">
            <a href="{{url_for('home')}}">
                <div class="logo">
                    <h1>Git<span>Gud</span></h1>
                </div>
            </a>
            <nav>
                <ul>
                    <li><a href="{{url_for('home')}}">Home</a></li>
                    <li><a href="{{url_for('projects')}}">Projects</a></li>
                    <!-- <li><a href="#">Resources</a></li> -->
                    <li>
                        <a href="{{ url_for('account') if 'user_id' in session else url_for('registerpage') }}">
                            Account
                        </a>
                    </li>

                </ul>
            </nav>
            <div class="menu-toggle">
                <div class="bar"></div>
                <div class="bar"></div>
                <div class="bar"></div>
            </div>
        </div>
    </header>



    <script src="static/script.js"></script>
</body>
</html>
